.remainingTeamEnter {
    opacity: 0;
}
.remainingTeamEnterActive {
    opacity: 1;
    transition: opacity 500ms ease-in;
}
.remainingTeamExit {
    opacity: 1;
}
.remainingTeamExitActive {
    opacity: 0;
    transition: opacity 500ms ease-in;
}
